 @media (min-width: 319px) and (max-width: 480px) {
header
{
    background-image: url(udemy.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
}
img
{
    width: 100px;
    height:100px;
    float: left;
}
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul
{
    float: right;
    margin-top: 30px;
    
}
li
{
    display: inline-block;
    
}
a
{
    border: 5px solid lightblue;
    padding: 5px 20px;
    color:black;
    text-decoration:none;
}

#j
{      
    margin-top: 500px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 100px;
    border: 5px solid lightblue;
    padding: 5px ;
    color:black;
    
}
}
